/*timeline bar*/
.nowto-thirty-bar {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    max-width: 120vw;
    margin: 1rem
}
.nowto-thirty-bar div {
    flex: 0 0 auto;
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}
.nowto-thirty-bar div p {
    margin: 0px;
    font-size: 20px;
}

.nowto-thirty-bar div.selected {
    flex: 0 0 auto;
    padding: 5px 15px;
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 25px;
}
/*timeline bar 2*/
.nowto-thirty-container {
    width: calc(100vw - 40px);
    display: flex;
    margin: 20px auto 30px;
    max-width: 500px;
}
.nowto-thirty-container img {
    width: 30px;
    padding: 10px 0;
}
.nowto-thirty-inner {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    max-width: 120vw;
}
.nowto-thirty-inner::-webkit-scrollbar {
    display: none;
  }
.nowto-thirty-inner div {
    flex: 0 0 auto;
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    color: grey
}
.nowto-thirty-inner div p {
    margin: 0px;
    font-size: 1em;
}

.nowto-thirty-inner div.selected {
    flex: 0 0 auto;
    padding: 5px 15px;
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 25px;
}
