$color-primary: #3f51b5;
$color-secondary: #0277BD;

$color-gradiant-main: linear-gradient(225deg, #784ba0, #3f51b5 50%, #2b86c5);

$shadow-lg: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-med: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

.profile-main {
    width: 100%;
}
.profile-avatar {
    position: relative;
    display: flex;
    justify-content: center;
}
.profile-avatar-nav {
    display: flex;
    justify-content: center;
}
img.default-profile-img {
    height: 50px;
    width: 50px;
    padding: 0 10px 0 10px;
}
img.default-profile-img-large {
    height: 120px;
    width: 120px;
    border: solid #fff 5px;
    border-radius: 50%;
    position: relative;
}
.profile-img {
    height: 50px;
    width: 50px;
    padding: 0 10px 0 10px;
    border-radius: 50%;
}
.profile-img-large {
    height: 120px;
    width: 120px;
    border: solid #fff 5px;
    border-radius: 50%;
    position: relative;
}
.profileName {
    flex: 1 0 auto;
    width: min-content;
    line-height: 1.5;
    height: 60px;
    display: flex;
    align-items: center
}
.profileIcons {
    background-color: #03045e;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 2px;
    margin: 0 10px 0px 10px;
}
.profileText {
    flex: 1 0 auto;
    line-height: 1.5;
    height: 30px;
    display: flex;
    align-items: center;
}

.add-pet-avatar {
    height: 50px;
    width: 50px;
    padding: 0 10px 0 10px;
}

.menu-expanded {
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #fff;
    height: 100vh;
    margin: 0;
    top: 0;
    align-items: center;
    transition: top ease .25s;
    z-index: 100;
}
.menu-colapsed {
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #fff;
    height: 100vh;
    margin: 0;
    top: 110vh;
    align-items: center;
    transition: top ease .25s;
}
#profile-information {
    background: $color-primary;
    background: $color-gradiant-main;
    border-radius: 25px;
    display: flex;
    padding: 5px 10px;
    justify-content: space-evenly;
}
.profile-information-icon {
    margin: 0 5px;
}
.profile-information-icon p:nth-of-type(1) {
    color: #fff;
    margin: 0;
    font-size: 15px;
}
#highlight-selection-container {
    padding: 0 10px;
}
#highlight-selection {
    background-color: $color-primary;
    height: 5px;
    margin: 5px 0;
    position: absolute;
    transition: left ease-in 100ms;
}
.friends-list-container {
    margin: 20px 0px;
}
.friends-list-details {
    display: flex;
    align-items: center;
}