$color-primary: #3f51b5;
$color-secondary: #0277BD;

$color-gradiant-main: linear-gradient(225deg, #784ba0, #3f51b5 50%, #2b86c5);

$shadow-lg: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-md: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$border-radius-md: 20px;
$border-radius-lg: 25px;

.register-pet-box {
    background-color: #fff;
    color: #000;
    margin: 10px;
    border-radius: $border-radius-md;
    overflow: hidden;
    max-width: 24em;
    min-width: 20em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.register-pet-box h2 {
    background-color: red;
    color: #fff;
    margin: 0;
    padding: 10px;
}
.register-pet-box-inner {
    padding: 20px 25px 10px;
    margin: auto;
    width: 75%;
    display: grid;
}
.login-box input {
    display: flex;
    margin: 5px auto;

}
.input-label {
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    margin: 25px 0px 0px;
    font-size: .7rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}
.register-pet-box-inner .form-row {
    display: flex;
}
/*Activity Log Profile*/
.activitylog-profile-card {
    background-color: #3f51b5;
    border-radius: $border-radius-md;
    padding: 10px;
    margin: 0 10px;
    color: #fff;
}
/*Log Activity*/
.activity-log-open {
    bottom: 0vh;
}
.activity-log-closed {
    bottom: -100vh;
}
#activity-log {
    position: fixed;
    height: 100%;
    width: 100vw;
    overflow-x: auto;
    left: 0;
    background-color: #fff;
    z-index: 100;
    transition: bottom ease .25s; 
}
.activity-icon {
    background-color: red;
    padding: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
}
.activity-log-top{
    background: rgb(63,81,181);
    background: $color-gradiant-main
}
.activity-log-top .main{
    margin: 0 0 10px;
    padding: 0px 10px;
    display: flex;
    color: #fff;
}
.activity-log-top .avatar{
    padding: 0px 10px 10px;
}
.activity-log-top h2 {
    color: #fff;
    margin: 0px;
    text-align: left;
}    
.activity-log-top p {
    color: #fff;
    margin: 0px;
    text-align: left;
}    
.activity-log-top .main div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 10px 0px;
}
.activity-log-top .main div img {
    width: 60px;
}
.activity-log-grid {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}
.activity-log-grid p {
    font-weight: bold;
    margin: 10px 0 0;
}
.activity-icon-container {
    display: grid;
    width: 50%;
    justify-content: center;
    padding: 10px 0;
}

/*activity top bar*/
.activity-icon-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
.activity-log-items {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0 10px 0 0;
    align-items: center;
    background-color:  #C1CEFE;
    //box-shadow: inset 3px 3px 7px rgba(136,165,191,.48), inset -3px -3px 7px #fff;
    border-radius: 25px;
}
.activity-icon-small {
    margin: 0 10px;
    background-color: #fff;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
}
.activity-icon-small.selected {
    height: 50px;
    width: 50px;
    background-color: $color-primary;
}
.back-button-bar {
    margin: 0;
    border-radius: 50%;
    border: none;
    height: 40px;
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
}
.back-button-bar img {
    height: 40px;
    width: 40px;
    background-color: $color-primary;
    border-radius: 50%;
    box-shadow: $shadow-lg;
}
/*activity log form */
.activity-log-form-inner {
    margin: 0 auto;
    padding: 10px;
}
.form-input-label {
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    margin: 25px 16px 0px;
    font-size: .75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}
/*current time*/
.current-select p:nth-of-type(1){
    font-weight: bold;
}
.current-select p {
    margin: 0px;
}
/*pee activity*/
.pee-spot p:first-child {
    font-weight: bold;
    margin: 20px 0 0;
}
/*Submit Activity*/
.submit-activity-button {
    border: none;
    display: inline-flex;
    background-color: $color-primary;
    box-shadow: $shadow-lg;
    border-radius: 25px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    margin: 20px 5px 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.submit-activity-button:active {
    box-shadow: none;
}
.submit-activity-button p {
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
}
/*animation*/
.loader {
    position: relative;
    width: 40px;
    height: 25px;
    margin: 5px auto;
    display: flex;
    align-items: center;
}
.duo {
    height: 10px;
    width: 25px;
    background: hsla(0, 0%, 0%, 0.0);
    position: absolute;
}
.duo, .dot {
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.duo1 {
    left: 0;
}
.duo2 {
    left: 15px
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #333;
    position: absolute;
}
.dot-a {
    left: 0px;
    background: #fff;  
}

.dot-b {
    right: 0px;
    background: #fff;
}


@keyframes spin {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(180deg) }
}

@keyframes onOff {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

.duo1 {
    animation-name: spin;
}

.duo2 {
    animation-name: spin;
    animation-direction: reverse;
}

.duo2 .dot-b {
    animation-name: onOff;
}

.duo1 .dot-a {
    opacity: 0;
    animation-name: onOff;
    animation-direction: reverse;
}

/*Data average card*/
.today-avg {
    box-shadow: $shadow-lg;
    color: #fff;
    margin: 10px;
    padding: 5px 10px 10px;
    border-radius: 25px;
    background: rgb(63,81,181);
    background: $color-gradiant-main;
}
.today-avg .header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.through {
    font-weight: normal;
    font-size: 2em;
    padding: 0 10px;
}
.date-grid-box {
    display: column;
    margin: 10px;
}
.date-grid-box h3 {
    margin: 0;
}
.date-grid-box p{
    margin: 0;
    padding: 0;
}
//post to feed
.post-to-feed {
    margin: 20px auto 0;
    width: 50%;
    justify-content: center;
    padding: 0;
}
.post-to-feed img {
    background-color: red;
    padding: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: $shadow-lg;
}
.post-to-feed p {
    font-weight: bold;
    margin: 10px 0 0;
}
//activity log cards
.activity-log-card {
    box-shadow: $shadow-md;
    margin: 20px auto 50px;
    border-radius: 25px;
    padding: 5px 10px 0;
    color: #000;
    width: 80%;
}
.activity-log-card-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hit-the-spot {
    background-color: #3aab58;
}
.missed-the-spot {
    background-color: red;
}
.details {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#404040;
    font-size: .9em;
}
.activity-log-icon {
    width: 35px;
    height: 35px;
}
.activity-log-icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
}
.activity-log-details {
    color: #000;
    
}
.activity-log-details img{
    width: 40px;
    height: 40px;
}
.activity-log-details-inner {
    height: 0px;
    overflow: hidden;
    transition: height 100ms ease-in;
}
.activity-log-details-expanded {
    height: 50px;
    transition: height 100ms ease-in;
    padding: 25px 0 0;
    margin: 10px auto 10px;
    border-top: #D3D3D3 solid 2px;
    display: flex;
}
.delete-message {
    font-weight: bold;
    padding: 10px 10px 15px;
    display: block;
    color: #404040;
}