$color-primary: #3f51b5;
$color-secondary: #0277BD;

$color-gradiant-main: linear-gradient(225deg, #784ba0, #3f51b5 50%, #2b86c5);

$shadow-lg: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-med: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

.top-nav {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    background-color: #fff;
    position: fixed;
    top: 0px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: $shadow-med;
    z-index: 100;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

    
}
.nav-left {
    align-self: end;
}
.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0 10px;
}
.nav-center li {
    margin: 0px;
    padding: 0 5px;
}
.nav-center li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
.nav-right {
    align-self: end;
}


//side nav right
.side-nav-closed {
    left: 110vw;
    margin-left: 10px;
}
.side-nav-open {
    left: 45vw;
}
.back-arrow {
    border: 2px #000 solid;
    border-radius: 50%;
    padding: 5px;
    margin: 20px 10px 5px;
    width: 25px;
    height: 25px;
    text-align: left;
  }
#side-nav-right {
    background-color: #fff;
    color: #000;
    position: fixed;
    height: 100vh;
    width: 55vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    left: -100;
    transition: left ease .25s;
    top: 0;
}
.MuiBottomNavigation-root button {
    color: green;
}
#other-pet-avatar {
    display: flex;
    justify-content: center;
}
#other-pet-avatar div a div img {
    padding: 0;
}
/*left side nav*/
#side-nav-left {
    background-color: #fff;
    color: #000;
    position: fixed;
    height: 100vh;
    width: 55vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    right: -100;
    transition: right ease .25s;
    top: 0;
}
.side-nav-left-closed {
    right: 110vw;
    margin-right: 10px;
}
.side-nav-left-open {
    right: 45vw;
}
/*Nav bar right*/
.mobile-navbar-list {
    list-style-type: none;
    padding: 0;

}
.mobile-navbar-list li {
    list-style-type: none;
    text-align: left;
    padding: 10px 25px;
}
.mobile-navbar-list li a {
    text-decoration: none;
    color: #000;
    font-size: 2em;
    font-weight: bold;
}

/*mobile top nav title*/
.mobile-topnav-title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-topnav-title p {
    margin: 0px;
    font-family: 'Paytone One', sans-serif;
    color: $color-primary;
    font-size: 30px;
}
.mobile-topnav-title span {
    color: $color-secondary;
}

//search
.menu-icon {
    height: 30px;
    width: 30px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon img{
    width: 30px;
    height: 30px;
}
.menu-expanded {
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #fff;
    height: 100vh;
    margin: 0;
    top: 0;
    align-items: center;
    transition: top ease .25s;
}
.menu-colapsed {
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #fff;
    height: 100vh;
    margin: 0;
    top: 110vh;
    align-items: center;
    transition: top ease .25s;
}
.search-bar {
    background: $color-primary;
    background: $color-gradiant-main;
    display: flex;  
    align-items: center;
    padding: 10px;
    height: 50px;
}
.search-bar h2 {
    color: #fff;
}
.close-search {
    margin-left: auto;
    margin-right: 10px;
}
.search-result-users {
    display: flex;
    margin: 10px;
    padding: 0px 5px 0px 0px;
    box-shadow: $shadow-med;
    border-radius: 10px;
    align-items: center;
}
.search-result-users p {
    margin: 0px;
}
.add-user, .remove-user {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.add-user-icon {
    background-color: $color-secondary;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
//notifications
.friend-request-users {
    margin: 10px 10px 50px;

}
.friend-request-main {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend-request-card {
    box-shadow: $shadow-med;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}
.accept-deny-row {
    margin: 10px 0;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.accepted-row {
    display: flex;
    width: 60%;
    justify-content: center;
    color: green;
}
.denied-row {
    display: flex;
    width: 60%;
    justify-content: center;
    color: red;
}

.pet-request-card {
    box-shadow: $shadow-med;
    border-radius: 25px;

    width: 60%;
}
.pet-request-pet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pet-request-pet span {
    color: $color-primary;
}
.pet-request-owner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 8px;
}
.pet-request-owner p {
    font-size: .8rem;
}
.pet-request-owner span {
    color: $color-primary;
    font-size: .8rem;
}
.make-pet-row {
    width: 60%;
    color: green;
}