$primary-color: #5465FF;

.top-nav {
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    background-color: #fff;
    position: fixed;
    top: 0px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 100;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

    
}
.nav-left {
    align-self: end;
}
.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0 10px;
}
.nav-center li {
    margin: 0px;
    padding: 0 5px;
}
.nav-center li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
.nav-right {
    align-self: end;
}


//side nav right
.side-nav-closed {
    left: 110vw;
    margin-left: 10px;
}
.side-nav-open {
    left: 45vw;
}
.back-arrow {
    border: 2px #000 solid;
    border-radius: 50%;
    padding: 5px;
    margin: 20px 10px 5px;
    width: 25px;
    height: 25px;
    text-align: left;
  }
#side-nav-right {
    background-color: #fff;
    color: #000;
    position: fixed;
    height: 100vh;
    width: 55vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    left: -100;
    transition: left ease .25s;
    top: 0;
}
.MuiBottomNavigation-root button {
    color: green;
}
/*left side nav*/
#side-nav-left {
    background-color: #fff;
    color: #000;
    position: fixed;
    height: 100vh;
    width: 55vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    right: -100;
    transition: right ease .25s;
    top: 0;
}
.side-nav-left-closed {
    right: 110vw;
    margin-right: 10px;
}
.side-nav-left-open {
    right: 45vw;
}
/*Nav bar right*/
.mobile-navbar-list {

}
.mobile-navbar-list {
    list-style-type: none;
    padding: 0;

}
.mobile-navbar-list li {
    list-style-type: none;
    text-align: left;
    padding: 10px 25px;
}
.mobile-navbar-list li a {
    text-decoration: none;
    color: #000;
    font-size: 2em;
    font-weight: bold;
}

/*mobile top nav title*/
.mobile-topnav-title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-topnav-title p {
    margin: 0px;
    font-family: 'Paytone One', sans-serif;
    color: #3f51b5;
    font-size: 30px;
}
.mobile-topnav-title span {
    color: #0277BD;
}