.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.body-container {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  padding: 20px 5px;
}
.body-container-login {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  justify-content: center;
}
.space-below {
  margin-bottom: 50px;
}
a:-webkit-any-link {
  text-decoration: none;
}
/*IMG ICON ROW*/
.icon-text-row {
  display: flex;
  align-items: center;
  margin: 30px 0px 50px;
}
.icon-text-row > div {
  width: 50%
}
.row-of-rows {
  display: flex;
  align-items: center;
  margin: 5px 0px
}

/*IMG ICON BOX*/
.details-box {
  max-width: 500px;
  color: #fff;
  background-color: #862d86;  
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.details-box-icon {
  height: 25px;
  width: 25px;
  margin: 0 10px 0 0 ;
}

/*Header text*/
.header-text {
  text-align: left;
  font-size: 40px;
  margin: 0 0 10px 0;
  font-weight: bold;
  letter-spacing: 7px;
  line-height: .9;
}
.header-text span {
  font-weight: normal;
  font-size: 35px;
}

.loading {
  height: 200px;
  width: 200px;
}
.done-loading {
  height: fit-content;
  width: fit-content;
}
/*Back Button*/
.back-button {
  background-color: #3f51b5;
  border-radius: 50%;
  outline: none;
  width: 60px;
  height: 60px;
  margin: 20px auto; 
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-link a {
  text-decoration: none;
}
.helper-message {
  color: grey;
  font-size: .9rem;
}
.full-width {
  width: 100%;
  overflow: hidden;
}
.main-body {
  margin-top: 25px;
}
.MuiFormGroup-root.MuiFormGroup-row {
  justify-content: center;
}
.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementTop {
  margin: 0 5px;
}
.MuiFormControl-root.MuiTextField-root {
  margin: 0 auto 40px !important;
  width: min-content !important;
}