$color-primary: #3f51b5;
$color-secondary: #0277BD;
$color-grey:  dimgrey;
$color-gradiant-main: linear-gradient(225deg, #784ba0, #3f51b5 50%, #2b86c5);

$shadow-lg: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-med: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

.img-icon {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 5px;
    background-color: $color-primary;
    margin: 0 10px 0 0 ;
  }
  .icon-text-row p {
    margin: 0px;
    color: darkslategrey;
  }